a {color:#36C}
a:hover {color:#06F}
body {background:#EEE;color:#444;font:normal 80.5% "Lucida Sans Unicode",sans-serif;margin:0}
p {font-size:1.2em;padding-bottom:1.2em}
h1 {font-size:2em;margin-bottom:4px}

.container {margin:0 auto;padding-bottom:6px;width:767px;border-bottom:1px solid #DDD; padding-top:6px;
border-top:15px solid #DDD;}
